.latte-item div {
    font-size: 48px;
    line-height: 200px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    text-align: center;
    color: white;
}

.latte-item:nth-child(even) div {
    background-color: #bc8b67;
}

.latte-item:nth-child(odd) div {
    background-color: #a77856;
}